.post_heading{
    margin: 0;
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--white-color);
}

.main_post {
    margin-right: 20px;
    margin-top: 20px;
}

.post_container {
    background-color: var(--white-color);
}

.post_wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.post_item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
}

.post_item-link{
    margin-right: 20px;
    text-decoration: none;
}

.post_item-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.post_item-infor {
    font-size: 14px;
    
}

.post_item-infor__cate {
    text-decoration: none;
    color: #0f71fb;
}

.post_item-infor__link {
    text-decoration: none;
}

.post_item-infor__title {
    font-size: 22px;
    line-height: 26px;
    max-height: 52px;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #333;
}

.post_item-infor__text {
    font-size: 14px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 15px;
    color: #555;
}

.post-wrap__title {
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* Account */
.user-page {
    display: flex;
    align-items: center;
}

.user-page__img {
    width:50px;
    height:50px;
    border-radius:50%;
}

.user-page__right {
    display: flex;
    flex-direction:column;
    font-size:14px;
    margin-left: 10px;
}

.user-page__username {
    line-height:20px;
    padding:2px;
}

.user-page__edit {
    color: #888;
    text-transform: capitalize;
    text-decoration: none;
}

.user-page__list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.user-page__item {
    padding:4px;
    font-size:16px;
    margin-bottom: 4px;
    text-decoration: none;
}   

.user-page__link {
    text-decoration: none;
    padding:10px;
}

.user-page__link:hover {
    text-decoration: none;
}
.user-page__item-title {
    color:var(--text-color);
    margin-left: 2px;
}

.user-page__item-title:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.user-main {
    background-color: var(--white-color);
}

.user-section {
    padding-top:32px;
    border-bottom: 1px solid #333;
    padding-bottom: 22px;
    margin-left: 32px;
    margin-right: 32px;

}

.user-section__header {
    font-size:20px;
    color:var(--text-color);
    font-weight: 400;
    margin: 0;
}

.user-profile {
    padding-top: 10px;
}
.user-profile__wrapper {
    padding: 0 0 20px 32px;
}

.user-profile__input {
    display: flex;
    padding: 10px;
    font-size: 14px;
    align-items: center;
}

.user-profile__input-title {
    width: 120px;
}

.user-profile__input-value {
    width: 450px;
    padding: 10px;
    outline: none;
}

.history-heading {
    text-align:center;
    font-size:20px;
    margin-bottom:15px;
    color:var(--primary-color);
}

.history-list {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.history-item {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.history-wrapper:hover{
    background-color:#f5f5f5;
    text-decoration: none;
}

#history-item__inline {
    display:inline-flex;
    align-items: center;
}

#history-item__link {
    text-decoration:none;
    color:none;
    background-color:green;
    margin-left:10px;
}